.like-button {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    /* display: none -> html에서도 없는 취급해서 스크린리더 안 읽음 */
    position: absolute;
    z-index: -100;
    /* 0px로 할 경우 display: none처럼 여김 */
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.card {
    width: 840px;
    display: flex;
    padding: 24px;
}

.card-image {
    width: 300px;
    height: 200px;
    background-image: url(./assets/img-house.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
    margin-right: 24px;
    position: relative;
}

.card-image .like-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    background-image: url(./assets/icon-favorite.svg);
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 12px;
}

.card-content {
    /* 남는 공간이 있으면 차지한다. */
    flex-grow: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    color: #151B26;
    margin-bottom: 16px;
}

.plus-badge {
    display: inline-block;
    text-transform: uppercase;
    background-color: #92174D;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.428571428571429;
    color: #FFFFFF;
    padding: 1px 8px;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 8px;
}

.property-type span {
    color: #7D858F;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.property-rate::before {
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./assets/icon-star.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.property-rate {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #151B26;
}

.property-rate span {
    color: #7D858F;
}

.property-detail {
    font-size: 14px;
    line-height: 1.142857142857143;
    font-weight: 400;
    color: #7D858F;
}

.property-detail dd span::after {
    content: '·';
    margin: 0 8px;
}

.property-detail dd span:last-child::after {
    content: '';
    margin: 0;
}

.property-detail div:first-child {
    margin-bottom: 8px;
}